<h2>New House Posts <span class="small"><%= link_to "Add a post", new_post_path, :remote => true %></span></h2>
<div id="new_post"></div>
<ul class="posts">
	<% if @posts %>
		<%= render @posts %>
	<% else %>
		<li>No new posts</li>
	<% end %>
</ul>
<%= link_to "Or view all posts", posts_path %>




<h2>Today's Chores:</h2>
<%= semantic_form_for Chore.new, :remote => true do |f| %>
 <%= f.input :chore_type, :label => "Hey motha fuckas, I ", :include_blank => "did this chore", :required => false %>
<% end %>
<ul class="chores" id="todays_chores">
	<% if @chores.present? %>
		<%= render @chores %>
	<% else %>
		<p>No chores today. Be a hero!</p>
	<% end %>
</ul>


<h2>Bills</h2>
<ul class="bills">
<%= render @bills %>
</ul>
<%= link_to "View all bills", bills_path %>
