<li>
	You owe <%= bill.user %> <%= number_to_currency bill.amount %> for <%= bill %>. <%= link_to "Paid", bill_path(bill)%><br/>
	<span class="small">added <%= time_ago_in_words(bill.created_at) %> ago</span>
</li>