<%= content_tag_for(:li, chore) do %>
	<b><%= chore.user %></b>
	<span class="action"><%= chore.action %> - <%= pluralize(chore.points, 'pt') %></span>
	<%= link_to "edit", "#", :class => 'edit_button' if chore.user == current_user %>
	<%= form_for(chore, :remote => true) do |f| %>
		<%= f.text_field :action %> - 
		<%= f.number_field :points %>
		<%= f.label :points, "pts"%>
		<%= f.submit "Update &raquo;".html_safe %>
	<% end %>
	<div>
		<span class="small"><%= time_ago_in_words(chore.created_at) %> ago | <%= link_to("delete", chore_path(chore), :method => :delete, :remote => true) if chore.user == current_user %></span>
	</div>
<% end %>
