<!DOCTYPE html>
<html>
<head>
  <title>Manor</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name = "viewport" content = "width = 600">
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<% if user_signed_in? %>
			<ul class="nav">
				<li><%= link_to "Chores", chores_path %></li>
				<li><%= link_to "Point Leaders", users_path %></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			</ul>
		<% end %>
		<h1><%= link_to "The Manor", root_path %></h1>
		
	</div>
	<div class="container">
		<div class="body">
			<%= yield %>
		</div>
	</div>

</body>
</html>
 