<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.env == "development" ? "[LOCAL] " : "" %>The Manor</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name = "viewport" content = "width = 620">  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28103293-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
	<div class="header">
		<% if user_signed_in? %>
			<ul class="nav">
				<li><%= link_to "Chores", chores_path %></li>
				<li><%= link_to "Posts", posts_path %></li>
				<li><%= link_to "Bills", bills_path %></li>
				<li><%= link_to "Point Leaders", users_path %></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			</ul>
		<% end %>
		<h1><%= link_to "The Manor", root_path %></h1>
		
	</div>
	<div class="container">
		<div class="body">
			<%= yield %>
		</div>
	</div>

</body>
</html>
 